@font-face {
	font-family: 'Rodin Pro';
	font-weight: normal;
	font-style: normal;
	src: url('/fonts/FOT-Rodin Pro DB.otf') format('opentype');
}

@font-face {
	font-family: 'NewCezanne Pro';
	font-weight: normal;
	font-style: normal;
	src: url('/fonts/FOT-NewCezanne Pro DB.otf') format('opentype');
}
