@import 'tailwindcss';

html {
	--background-color: #cfcaac;
	--background-grid-color: #504c410f;
	--primary-color: #d9d3b1;
	--text-color: #504c41;
	--text-shadow: #bab498;
	height: 100%;
	padding: 16px;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
}

.panel {
	background-color: var(--primary-color);
	box-shadow: 4px 4px var(--text-shadow);
}

@media (prefers-color-scheme: dark) {
	html {
		--background-color: #3f3c34;
		--background-grid-color: #d9d3b10f;
		--primary-color: #504c41;
		--text-color: #d9d3b1;
		--text-shadow: #6f6b5a;
	}
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: 'InterVariable';
	font-weight: 500;
	font-size: 24px;
	height: 100%;
}

p {
	font-family: 'Rubik';
}

body::after {
	content: '';
	position: fixed;
	inset: 0;
	z-index: 9999;
	pointer-events: none;
	background-image:
		linear-gradient(to right, var(--background-grid-color) 2px, transparent 2px),
		linear-gradient(to bottom, var(--background-grid-color) 2px, transparent 2px);
	background-size: 9px 9px;
}

h1 {
	font-size: 3rem;
	font-family: 'ITC Benguiat Book';
	letter-spacing: 0.25rem;
	text-shadow: var(--text-shadow) 0.15em 0.15em;
}
